.home {
    padding: 4rem;
  }
  
  
  .home-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
  
  .home-wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .home__items {
    margin-bottom: 24px;
  }
  
  .home__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: rgb(59,57,51);
  }
  
  .home__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  .home__item__header{
    width: 100%;
    text-align: center;
    padding: 20px 30px 30px;
    background-color: rgb(49,47,41);
  }
  
  .home__item__info {
    padding: 20px 30px 30px;
  }
  
  .home__item__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
  }
  .home-phone-num{
    color: rgb(255, 184, 28);
    text-decoration: none;
}
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .home__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .home__item {
      margin-bottom: 2rem;
    }
  }