#order {
  padding: 30px;
  margin: 20px;
  background-color: rgb(49, 47, 41);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#order-form {
  padding: 50px 100px;
  max-width: 800px;
  width: 100%;
}
#inputs-container {
  list-style: none;
}
.input > label > em {
  color: red;
  margin-left: 4px;
}

.input-field {
  margin-top: 14px;
  margin-bottom: 28px;
}
.input-field > input {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}
.input-field > small {
  position: absolute;
  line-height: 28px;
  margin-left: 14px;
}
#message {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  color: black;
}

.submit-btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 36px;
  border-radius: 5px;
  color: rgb(39, 37, 31);
  background-color: rgb(255, 204, 48);
  border: solid 1px transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.submit-btn:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

/*Succes animation and text*/

.success-animation {
  margin: 50px auto;
  text-align: center;
  line-height: 36px;
}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  margin: 50px auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: rgb(49, 47, 41);
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.invisible {
  display: none;
}
.visible {
  display: block;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

@media only screen and (max-width: 1200px) {
  #order-form {
    padding: 50px 50px;
  }
  .input-field {
    margin-top: 14px;
    margin-bottom: 42px;
  }
  .input-field > input {
    display: block;
  }
  #message {
    display: block;
  }
  .input-field > small {
    margin: 0;
  }
  .submit-btn {
    margin-top: 28px;
  }
}
@media only screen and (max-width: 760px) {
  #order-form {
    padding: 50px 20px;
  }
  .input-field {
    margin-top: 14px;
    margin-bottom: 42px;
  }
  .input-field > input {
    display: block;
  }
  .input-field > small {
    margin: 0;
  }
  .submit-btn {
    margin-top: 28px;
  }
}
