#order {
  padding: 30px;
  margin: 20px;
  background-color: rgb(49, 47, 41);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#order-form {
  padding: 50px 100px;
  max-width: 800px;
  width: 100%;
}
#inputs-container {
  list-style: none;
}
.input > label > em {
  color: red;
  margin-left: 4px;
}

.input-field {
  margin-top: 14px;
  margin-bottom: 28px;
}
.input-field > input {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}
.input-field > small {
  position: absolute;
  line-height: 28px;
  margin-left: 14px;
}
#message {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  color: black;
}

.submit-btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 36px;
  border-radius: 5px;
  color: rgb(39, 37, 31);
  background-color: rgb(255, 204, 48);
  border: solid 1px transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.submit-btn:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  #order-form {
    padding: 50px 50px;
  }
  .input-field {
    margin-top: 14px;
    margin-bottom: 42px;
  }
  .input-field > input {
    display: block;
  }
  #message {
    display: block;
  }
  .input-field > small {
    margin: 0;
  }
  .submit-btn {
    margin-top: 28px;
  }
}
@media only screen and (max-width: 760px) {
  #order-form {
    padding: 50px 20px;
  }
  .input-field {
    margin-top: 14px;
    margin-bottom: 42px;
  }
  .input-field > input {
    display: block;
  }
  .input-field > small {
    margin: 0;
  }
  .submit-btn {
    margin-top: 28px;
  }
}
